BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 80
IndentCaseLabels: true
SpacesBeforeTrailingComments: 1

